<!DOCTYPE html>
<html>
	<head>
		<meta
			http-equiv="Content-Type"
			content="text/html, charset=UTF-8"
			name="viewport"
		/>
		<link rel="stylesheet" href="/styles/change-password.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"
		></script>
		<script src="/scripts/login.js" defer></script>
		<link
			rel="icon"
			type="image/x-icon"
			href="https://res.cloudinary.com/baodang359/image/upload/v1653066110/java-project/favicon_cse14f.png"
		/>
		<title>WINX | Đăng nhập</title>
	</head>

	<body
		style="
			background-image: url('https://res.cloudinary.com/baodang359/image/upload/v1652623064/java-project/background_z3rmo6.jpg');
			background-repeat: no-repeat;
			background-size: 100%;
		"
	>
		<div class="container">
			<form class="cus-form" action="/auth/update-password" method="post">
				<h2 style="text-align: center">Tạo mật khẩu mới</h2>
				<div style="width: 80%; margin-left: 10%">
					<label for="password">Mật khẩu</label>
					<input
						class="cus-input"
						type="password"
						placeholder="Nhập mật khẩu"
						id="password"
						name="password"
						required
					/>

					<label for="password">Nhập lại mật khẩu</label>
					<input
						class="cus-input"
						type="password"
						placeholder="Nhập lại mật khẩu"
						id="password"
						name="passwordagain"
						required
					/>
				</div>

				<div style="text-align: center">
					<button class="cus-button">Xác nhận</button>
				</div>
			</form>
			<!-- Toast -->
			<div class="toast-container position-fixed bottom-0 end-0 p-3">
				<div
					id="liveToast"
					class="toast"
					role="alert"
					aria-live="assertive"
					aria-atomic="true"
					style="
						font-family: Roboto, sans-serif;
						border-radius: 20px;
						background-color: rgba(128, 128, 128, 0.7);
						color: #fff;
					"
				>
					<div
						class="toast-header"
						style="
							border-radius: 20px;
							background-color: #fff;
							color: #fff;
						"
					>
						<div>
							<img
								src="https://res.cloudinary.com/baodang359/image/upload/v1652890417/java-project/logo_xhctkr.jpg"
								style="
									height: 20px;
									width: 30px;
									border-radius: 4px;
								"
							/>
						</div>

						<strong
							class="me-auto"
							style="
								margin-left: 10px;
								color: rgba(248, 39, 39, 0.7);
								font-size: 17px;
							"
							>LỖI!</strong
						>
						<small class="text-muted" style="color: #fff"
							>Bây giờ</small
						>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="toast"
							aria-label="Close"
						></button>
					</div>
					<div class="toast-body">
						Thông tin đăng nhập không chính xác
					</div>
				</div>

				<div
					id="liveToast"
					class="toast"
					role="alert"
					aria-live="assertive"
					aria-atomic="true"
					style="
						font-family: Roboto, sans-serif;
						border-radius: 20px;
						background-color: rgba(128, 128, 128, 0.7);
						color: #fff;
					"
				>
					<div
						class="toast-header"
						style="
							font-family: Roboto, sans-serif;
							border-radius: 20px;
							background-color: rgba(0, 0, 0, 0.3);
							color: #fff;
						"
					>
						<img src="..." class="rounded me-2" alt="..." />
						<strong class="me-auto">Bootstrap</strong>
						<small class="text-muted">2 seconds ago</small>
						<button
							type="button"
							class="btn-close"
							data-bs-dismiss="toast"
							aria-label="Close"
						></button>
					</div>
					<div class="toast-body">
						Heads up, toasts will stack automatically
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
