<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/customer-detail.css " />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/53a42bcb20.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="/scripts/utils.js" defer></script>
    <script src="/scripts/customer-detail.js" defer></script>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://res.cloudinary.com/baodang359/image/upload/v1653066110/java-project/favicon_cse14f.png"
    />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <title>WINX | Chi tiết khách hàng</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark fixed-top"
      style="height: 12vh; background-color: #000"
    >
      <div class="container">
        <a class="custom-navbar-brand" href="/customer">
          <i class="fa-solid fa-arrow-left"></i> Quay lại</a
        >
      </div>
    </nav>
    <div class="container" style="margin-top: 12vh">
      <form
        data-aos="zoom-out"
        th:attr="action=${'/update-customer/' + user.UserID}"
        method="POST"
        class="info"
      >
        <h5 style="color: white; width: 100%; font-size: 25px">
          Thông tin khách hàng
        </h5>
        <div style="display: flex; margin-top: 30px">
          <div class="username" style="margin-left: 30px" ;>
            <h6 style="color: white; font-size: 13px">Họ và tên</h6>
            <input
              type="text"
              th:attr="placeholder=${user.FullName},value=${user.FullName}"
              id="username"
              name="username"
              style="
                border-radius: 10px;
                height: 50px;
                width: 250px;
                background-color: rgba(117, 117, 117, 0.2);
                border: 1px solid #fff;
                vertical-align: middle;
                padding: 20px;
              "
              required
            />
          </div>
          <div class="numberphone" style="margin-left: 13.5em" ;>
            <h6 style="color: white; font-size: 13px">Số điện thoại</h6>
            <input
              type="numberphone"
              th:attr="placeholder=${user.PhoneNumber},value=${user.PhoneNumber}"
              id="number"
              name="number"
              required
              style="
                border-radius: 10px;
                height: 50px;
                width: 250px;
                background-color: rgba(117, 117, 117, 0.2);
                border: 1px solid #fff;
                vertical-align: middle;
                padding: 20px;
              "
            />
          </div>
          <div
            class="status"
            style="margin-left: 13.5em; border-radius: 30px; color: white"
            ;
          >
            <h6 style="font-size: 13px">Trạng thái</h6>
            <div
              class="body-status"
              style="
                border-radius: 10px;
                height: 50px;
                width: 250px;
                border: 1px solid #fff;
                display: inline-block;
                /* text-align: center; */
                vertical-align: middle;
                padding: 10px;
              "
            >
              <input
                type="radio"
                id="work"
                name="status"
                value="Hoạt động"
                th:attr="checked=${user.Status.contentEquals('Hoạt động')}"
                style="
                  margin-right: 2px;
                  margin-left: 10px;
                  width: 15px;
                  height: 15px;
                "
              />
              <label for="work">Hoạt động</label>

              <input
                type="radio"
                id="ban"
                name="status"
                th:attr="checked=${user.Status.contentEquals('Bị khóa')}"
                value="Bị khóa"
                style="margin-left: 30px; width: 15px; height: 15px"
              />
              <label for="age2">Bị khóa</label>
            </div>
          </div>
        </div>
        <div class="container" style="text-align: center; margin-top: 17px">
          <div style="display: inline-block; margin-top: 20px; font-size: 13px">
            <a
              class="btn-add-cus"
              data-bs-toggle="modal"
              data-bs-target="#modalChangeStatus"
              style="
                height: 40px;
                width: 200px;
                font-size: 14px;
                font-weight: 500;
                color: #fff;
                cursor: pointer;
              "
            >
              Thay đổi thông tin
            </a>
            <!-- Modal change cus info-->
            <div
              id="modalChangeStatus"
              class="modal fade"
              data-bs-keyboard="false"
              tabindex="-1"
              aria-hidden="true"
            >
              <div
                class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
              >
                <div
                  class="modal-content"
                  style="text-align: center; border-radius: 20px"
                >
                  <div class="modal-body" style="color: #000">
                    <h5 style="font-weight: 500; font-size: 32px">
                      Thay đổi thông tin
                    </h5>
                    <p style="font-size: 18px">
                      Bạn có muốn thay đổi thông tin của khách hàng này hay
                      không?
                    </p>
                  </div>
                  <div
                    class="modal-footer"
                    style="justify-content: center; border: none"
                  >
                    <a
                      class="edit-delete-btn"
                      style="background-color: #fff; color: #888888"
                      data-bs-dismiss="modal"
                    >
                      Hủy
                    </a>
                    <button type="submit" id="submit" class="edit-delete-btn">
                      Xác nhận
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div style="display: flex; margin-top: 20px">
        <h5 style="color: #fff; font-size: 20">Lịch sử giao dịch</h5>
        <h5
          style="
            background-color: #fff;
            padding: 3px 8px;
            height: 30px;
            border-radius: 4px;
            margin-left: 20px;
          "
        >
          10
        </h5>
      </div>
      <div
        style="
          display: block;
          justify-content: space-between;
          background-color: rgba(128, 128, 128, 0.7);
          align-items: center;
          padding: 20px;
          border-radius: 10px;
          margin-top: 10px;
          margin-bottom: 10px;
        "
      >
        <div class="table-responsive" style="text-align: center">
          <table
            data-aos="zoom-in"
            class="table table-dark"
            style="
              --bs-table-bg: none;
              margin-top: 5px;
              text-align: center;
              background: rgba(128, 128, 128, 0.7);
              border-radius: 10px;
              background-origin: none;
              border-bottom: none;
            "
          >
            <thead>
              <tr class="table-tr">
                <th scope="col">Mã giao dịch</th>
                <th scope="col">Phim</th>
                <th scope="col">Ngày mua</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Giảm giá</th>
                <th scope="col">Thành tiền</th>
              </tr>
            </thead>
            <tbody id="father">
              <tr class="table-tr" id="child">
                <td>AIGFTJFKFJ</td>
                <td>The Incredibles</td>
                <td>12/02/2022</td>
                <td>1</td>
                <td>10%</td>
                <td>45.000 VNĐ</td>
              </tr>
            </tbody>
          </table>
          <div style="text-align: center">
            <nav aria-label="..." style="display: inline-block">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link page-unactive" href="#">1</a>
                </li>
                <li class="page-item active" aria-current="page">
                  <a class="page-link page-active" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link page-unactive" href="#">3</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div
        id="liveToast"
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        style="
          font-family: Roboto, sans-serif;
          border-radius: 20px;
          background-color: rgba(128, 128, 128, 0.7);
          color: #fff;
        "
      >
        <div
          class="toast-header"
          style="border-radius: 20px; background-color: #fff; color: #fff"
        >
          <div>
            <img
              src="https://res.cloudinary.com/baodang359/image/upload/v1652890417/java-project/logo_xhctkr.jpg"
              style="height: 20px; width: 30px; border-radius: 4px"
            />
          </div>

          <strong
            class="me-auto"
            style="
              margin-left: 10px;
              color: rgba(248, 39, 39, 0.7);
              font-size: 17px;
            "
            >LỖI!</strong
          >
          <small class="text-muted" style="color: #fff">Bây giờ</small>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body" id="toastContext">
          Thông tin đăng nhập không chính xác
        </div>
      </div>

      <div
        id="liveToast"
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        style="
          font-family: Roboto, sans-serif;
          border-radius: 20px;
          background-color: rgba(128, 128, 128, 0.7);
          color: #fff;
        "
      >
        <div
          class="toast-header"
          style="
            font-family: Roboto, sans-serif;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, 0.3);
            color: #fff;
          "
        >
          <img src="..." class="rounded me-2" alt="..." />
          <strong class="me-auto">Bootstrap</strong>
          <small class="text-muted">2 seconds ago</small>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>

        <button type="button" style="display: none" id="liveToastBtn">
          Show live toast
        </button>
        <div class="toast-body">Heads up, toasts will stack automatically</div>
      </div>
    </div>
  </body>
  <script>
    AOS.init();
  </script>
</html>
