<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles/film-ticketing-second-step.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      src="https://kit.fontawesome.com/53a42bcb20.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="scripts/film-ticketing-second-step.js" defer></script>
    <link
      rel="icon"
      type="image/x-icon"
      href="https://res.cloudinary.com/baodang359/image/upload/v1653066110/java-project/favicon_cse14f.png"
    />
    <title>WINX | Xuất vé phim - Chỗ ngồi & số lượng</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark fixed-top"
      style="height: 12vh; background-color: #000"
    >
      <div class="container">
        <a class="custom-navbar-brand" onclick="history.back()">
          <i class="fa-solid fa-arrow-left"></i> Quay lại</a
        >
      </div>
    </nav>
    <div class="container" style="margin-top: 12vh">
      <div
        style="justify-content: space-between; display: flex; margin-top: 20px"
      >
        <div class="top-container">
          <h5 style="margin-bottom: 30px">Xuất vé phim</h5>
          <h3>Chọn ghế ngồi, điền thông tin</h3>
          <div
            class="progress"
            style="border-radius: 10px; height: 1.6rem; margin-top: 20px"
          >
            <div
              class="progress-bar progress-bar-info progress-bar-striped active"
              style="
                border-radius: 10px;
                width: 66.6%;
                box-shadow: -1px 10px 10px rgba(91, 192, 222, 0.7);
              "
            ></div>
          </div>
          <h5 class="progress-value" style="margin-top: 20px">Bước 2</h5>
        </div>
        <div class="top-container">
          <div class="row g-0">
            <div
              class="col-md-4"
              style="
                width: 40%;
                display: flex;
                justify-content: center;
                margin-right: 20px;
              "
            >
              <img
                src="https://genk.mediacdn.vn/139269124445442048/2021/4/3/screen-shot-2021-04-03-at-112351-am-16174239799661809991699.png"
                class="img-fluid"
                style="
                  height: 170px;
                  border-radius: 10px;
                  margin: auto;
                  display: block;
                "
                alt="..."
              />
            </div>
            <div class="col-md-8" style="width: 56%">
              <div class="card-body" style="margin-left: -20px; color: #fff">
                <h5
                  class="card-title"
                  style="font-weight: 600; font-size: 20px"
                >
                  GODZILLA: KING OF THE MONSTER
                </h5>
                <p class="card-text" style="font-weight: 400; font-size: 18px">
                  Thứ 2 ngày 18 tháng 5 năm 2022 07:30 am
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        style="
          justify-content: space-between;
          display: flex;
          margin-top: 20px;
          width: 100%;
        "
      >
        <div class="top-container" style="width: 58%">
          <div
            style="
              text-align: center;
              background-color: #fff;
              width: 80%;
              display: block;
              margin: auto;
              padding: 3px 0;
              border-radius: 10px;
            "
          >
            <h3 style="color: #000; font-size: 22px; margin-top: 7px">
              Màn hình
            </h3>
          </div>
          <div
            style="
              margin-top: 30px;
              justify-content: center;
              align-items: center;
              text-align: center;
            "
          >
            <div id="seatContainer" style="display: inline-block"></div>
          </div>
          <div
            style="
              justify-content: space-between;
              display: flex;
              margin-top: 30px;
              width: 80%;
              margin-left: 60px;
            "
          >
            <div style="display: flex">
              <div class="seat-available" style="margin-right: 10px">
                <p class="seat-text">B3</p>
              </div>
              <p class="seat-text">Có thể chọn</p>
            </div>
            <div style="display: flex">
              <div class="seat-unvailable" style="margin-right: 10px">
                <p class="seat-text">B3</p>
              </div>
              <p class="seat-text">Không thể chọn</p>
            </div>
            <div style="display: flex">
              <div class="seat-choosing" style="margin-right: 10px">
                <p class="seat-text">B3</p>
              </div>
              <p class="seat-text">Đang chọn</p>
            </div>
          </div>
        </div>
        <div class="top-container" style="width: 40%">
          <div style="border-bottom: 1px solid #fff">
            <h5>Vé đang chọn</h5>
          </div>
          <div
            class="table-responsive"
            id="father"
            style="
              height: 150px;
              margin-top: 15px;
              border-bottom: 1px solid #fff;
            "
          >
            <!-- <div
              id="child"
              style="display: flex; justify-content: space-between"
            >
              <div id="grandChild" style="display: flex">
                <div
                  class="seat-choosing"
                  style="margin-right: 10px; width: 50px; height: 50px"
                >
                  <h5 style="margin-top: 12px">A1</h5>
                </div>
                <div>
                  <h6>GODZILLA: KING OF THE MONSTER</h6>
                  <h5 style="color: #fbca10">50.000 VND</h5>
                </div>
              </div>
              <a><i class="fa-solid fa-square-xmark"></i></a>
            </div> -->
          </div>
          <div style="margin-top: 15px">
            <h5>Thông tin khách hàng (không bắt buộc)</h5>
            <div style="text-align: center">
              <form
                style="
                  height: 38px;
                  height: 38px;
                  width: 75%;
                  display: inline-block;
                "
                action="/customer"
                method="get"
              >
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    style="
                      border-top-left-radius: 10px;
                      border-bottom-left-radius: 10px;
                    "
                    placeholder="Tìm kiếm"
                    aria-label="#"
                    name="phone_or_name"
                    aria-describedby="basic-addon2"
                    required
                  />
                  <button
                    type="submit"
                    id="submit"
                    style="
                      background-color: #fbca10;
                      border: 1px solid #fbca10;
                      border-top-right-radius: 10px;
                      border-bottom-right-radius: 10px;
                    "
                  >
                    <i
                      class="input-group-text fa-solid fa-magnifying-glass"
                      id="basic-addon2"
                      style="
                        color: #000;
                        background-color: #fbca10;
                        border: 1px solid #fbca10;
                      "
                      ;
                    ></i>
                  </button>
                </div>
              </form>
            </div>
            <div>
              <p>Họ và tên</p>
              <div class="customer-info-cover" style="margin-bottom: 15px">
                <p class="customer-info-text">Nguyễn Ngọc Thanh Danh</p>
              </div>
              <p>Số điện thoại</p>
              <div class="customer-info-cover">
                <p class="customer-info-text">0123456789</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="text-align: center">
        <a href="./film-ticketing-last-step" class="btn-next">Tiếp theo</a>
      </div>
    </div>
  </body>
</html>
