<!DOCTYPE html>
<html>
	<head>
		<meta
			http-equiv="Content-Type"
			content="text/html, charset=UTF-8"
			name="viewport"
		/>
		<link rel="stylesheet" href="../static/styles/forgot-password.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"
		></script>
		<script src="/scripts/login.js" defer></script>
		<link
			rel="icon"
			type="image/x-icon"
			href="https://res.cloudinary.com/baodang359/image/upload/v1653066110/java-project/favicon_cse14f.png"
		/>
		<title>WINX | Quyên mật khẩu</title>
	</head>

	<body
		style="
			background-image: url('https://res.cloudinary.com/baodang359/image/upload/v1652623064/java-project/background_z3rmo6.jpg');
			background-repeat: no-repeat;
			background-size: 100%;
		"
	>
		<div class="container">
			<form class="cus-form" action="/auth/auth" method="post">
				<h2 style="text-align: center">Xác nhận tài khoản</h2>
				<label>
					Nhập email tài khoản của bạn để tiến hành các bước thay đổi
					mật khẩu
				</label>
				<div style="width: 100%; ">
					<input
						class="cus-input"
						type="text"
						placeholder="Nhập email"
						id="email"
						name="email"
						required
					/>
				</div>
				<div style="text-align: center; margin-bottom: 30px">
					<div style="display: inline-block">
						<button
							class="cus-button"
							style="position: absolute; left: 45px"
						>
							Quay lại
						</button>
					</div>
					<div style="display: inline-block">
						<a
							class="btn-next"
							data-bs-toggle="modal"
							data-bs-target="#staticBackdrop"
						>
							<button
								class="cus-button"
								style="position: absolute; right: 45px"
							>
								Xác nhận
							</button></a
						>
					</div>
				</div>
			</form>
			<!-- Toast -->
			<div
				class="modal fade"
				id="staticBackdrop"
				data-bs-backdrop="static"
				data-bs-keyboard="false"
				tabindex="-1"
				aria-hidden="true"
			>
				<div
					class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
				>
					<div class="modal-content" style="border-radius: 20px">
						<div class="modal-body" style="text-align: center; ">
							<h5>Hoàn tất</h5>
							<p style="font-weight: 400; font-size: 18px; margin-top:15px">
								Mã code đã được gửi về email <p style="font-size: 18px; ">shenenoi@gmail.com</p>
							</p>
						</div>
						<div
							class="modal-footer"
							style="justify-content: center; border: none; text-align: center; "

						>

							<a class="btn-next" href="./auth/login" >
								<button
								style=" background-color: #fbca10;
                                color: #000;
                                padding: 10px;
                                border-radius: 10px ;
                                font-style: normal;
                                display: inline-block;
                                font-weight: 400;
                                font-size: 15px;"
							>
                            Xác nhận
							</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
