<!DOCTYPE html>
<html>
  <head>
    <meta
      http-equiv="Content-Type"
      content="text/html, charset=UTF-8"
      name="viewport"
    />
    <link rel="stylesheet" href="/styles/login.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <title>Đăng nhập</title>
  </head>
  <body
    style="
      background-image: url('https://source.unsplash.com/RCAhiGJsUUE/1920x1080');
    "
  >
    <form action="/auth/auth" method="post">
      <h3 style="margin-bottom: 30px">Chào mừng đến với WINX</h3>
      <h3>Đăng Nhập</h3>

      <div style="width: 80%; margin-left: 10%">
        <label for="username">Tài khoản</label>
        <input
          type="text"
          placeholder="Nhập tài khoản"
          id="username"
          name="username"
          required
        />

        <label for="password">Mật khẩu</label>
        <input
          type="password"
          placeholder="Nhập mật khẩu"
          id="password"
          name="password"
          required
        />
      </div>

      <div style="text-align: center">
        <button>Đăng nhập</button>
      </div>
    </form>
  </body>
</html>
