html {
  background-color: #000;
  animation: transitionIn 0.75s !important;
}

@keyframes transitionIn {
  from {
    opacity: 0.8;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

body {
  background-image: url("https://res.cloudinary.com/baodang359/image/upload/v1652623064/java-project/background_z3rmo6.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  transition-duration: 0.4s;
  border-radius: 10px;
  background-color: #b3b3b3;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #cccccc;
}

.custom-navbar-brand {
  color: #fff;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  text-decoration: none;
  white-space: nowrap;
  font-size: 38px;
  font-weight: 500;
  transition: all 0.3s;
}

.custom-navbar-brand:hover {
  color: #fbca10;
}

.staff-cover {
  margin-left: 80px;
  margin-top: 25px;
  text-align: center;
  display: block;
  background-color: transparent;
  border: 1px solid transparent;
  float: left;
  color: #fff;
}

.cus-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: blur;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.choose-text {
  font-weight: 500;
  font-size: 32px;
  color: #ffffff;
}

.day {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.bottom-container {
  width: 49%;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  border-radius: 10px;
  padding: 15px;
}

.bottom-select {
  color: #fff !important;
  background-color: transparent !important;
  background-image: url("https://www.nicepng.com/png/full/381-3815068_two-way-radios-arrow-animated-down-white.png") !important;
}

option:checked {
  color: #000;
  background-color: #fbca10;
}

option:not(:checked) {
  color: #000;
  background-color: #fff;
}

.progress .progress-bar {
  border-radius: 50px;
  background-color: #fbca10;
}

.progress-value {
  position: relative;
  left: -68px;
  top: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  letter-spacing: 2px;
  margin-top: -5px;
}
.progress-bar.active {
  animation: reverse progress-bar-stripes 0.4s linear infinite,
    animate-positive 2s;
}
@-webkit-keyframes animate-positive {
  0% {
    width: 0%;
  }
}
@keyframes animate-positive {
  0% {
    width: 0%;
  }
}
